<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscUtils.Core" version="0.16.13" targetFramework="net462" />
  <package id="DiscUtils.Iso9660" version="0.16.13" targetFramework="net462" />
  <package id="DiscUtils.Udf" version="0.16.13" targetFramework="net462" />
  <package id="DiscUtils.Streams" version="0.16.13" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.62" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.19041.1" targetFramework="net462" />
  <package id="NAudio" version="1.10.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.14.0" targetFramework="net462" />
  <package id="SharpCompress" version="0.26.0" targetFramework="net462" />
  <package id="SharpDX" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net462" />
  <package id="SharpDX.MediaFoundation" version="4.2.0" targetFramework="net462" />
  <package id="StartPage.SDK" version="1.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="VirtualizingWrapPanel" version="1.5.4" targetFramework="net462" />
  <package id="XamlAnimatedGif" version="2.3.2" targetFramework="net462" />
</packages>
